@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

*{
    margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
input:focus{
    outline:none;
}
body{
    overflow-x:hidden;
    min-height:100vh;
}
.dialogSignin, .dialogSignup{
    display:none;
    position:fixed;
    top:80px;
    left:50%;
    transform:translateX(-50%);
    z-index:3;
    box-sizing:border-box;
    width:340px;
    height:auto;
    border-radius:6px;
    background-color:#FFFFFF;
    box-shadow:0px 4px 60px 0px #AAAAAA;
}
.colorBar{
    width:100%;
    height:10px;
    border-radius:4px 4px 0px 0px;
    background:linear-gradient(270deg, #337788 0%, #66AABB 100%);
}
.cross{
    position:absolute;
    top:27px;
    right:17px;
    width:16px;
    height:16px;
    cursor:pointer;
}
.signinBox, .signupBox{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:15px;
}
.signinHead, .signupHead{
    flex:none;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:27px;
}
.signinHeadText, .signupHeadText{
    flex:none;
    font-family:"Noto Sans TC", sans-serif;
    font-size:24px;
    font-weight:700;
    line-height:24px;
    text-align:center;
    color:#666666;
}
.signinForm, .signupForm{
    flex:none;
    width:100%;
    margin-top:15px;
}
.emailBox, .passwordBox, .nameBox{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:47px;
    box-sizing:border-box;
    margin-bottom:10px;
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
    border-radius:5px;
}
.emailSignin, .passwordSignin, .nameSignup, .emailSignup, .passwordSignup{
    flex:none;
    width:280px;
    height:17px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:16px;
    font-weight:500;
    text-align:left;
    color:#757575;

}
.submitBox{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:47px;
    margin-bottom:10px;
    background-color:#448899;
    border-radius:5px;
    cursor:pointer;
}
.submitSignin, .submitSignup{
    flex:none;
    width:270px;
    height:27px;
    margin:auto;
    font-family:"Noto Sans TC", sans-serif;
    font-size:19px;
    font-weight:400;
    text-align:center;
    background-color:#448899;
    color:#FFFFFF;
    cursor:pointer;
}
.toSignup, .toSignin, .signinResultFailed, .signupResultOk, .signupResultFailed{
    flex:none;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:22px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:16px;
    font-weight:500;
    text-align:center;
    color:#666666;
}
.signinResultFailed, .signupResultOk, .signupResultFailed{
    display:none;
}
.signupResultOk.active{
    display:block;
    margin-bottom:10px;
    color:green;
}
.signinResultFailed.active, .signupResultFailed.active{
    display:block;
    margin-bottom:10px;
    color:red;
}
.toSignupText, .toSigninText, .signinResultFailedText, .signupResultOkText, .signupResultFailedText{
    flex:none;
}
.toSignupBtn, .toSigninBtn{
    flex:none;
    cursor:pointer;
}
.navigation{
    position:sticky;
    top:0px;
    z-index:1;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    width:100%;
    height:54px;
    background-color:#FFFFFF;
    border-bottom:1px solid #E8E8E8;
}
.navigationDiv{
    flex:none;
    display:flex;
    justify-content:space-between;
    margin:auto;
    width:1200px;
    height:34px;
}
.navigationText{
    flex:none;
    width:150px;
    height:34px;
    font-family:"Noto Sans TC", sans-serif;
    font-weight:700;
    font-size:30px;
    line-height:34px;
    color:#448899;
    cursor:pointer;
}
.navigationContainer{
    flex:none;
    display:flex;
    width:175px;
    height:34px;
}
.navigationButtonLeft{
    flex:none;
    width:64px;
    height:14px;
    justify-content:space-between;
    padding:10px;
}
.navigationButtonLeftText{
    width:64px;
    height:14px;
    font-family:"Noto Sans TC", sans-serif;
    font-weight:500;
    font-size:16px;
    line-height:13.3px;
    color:#666666;
    cursor:pointer;
}
.navigationButtonRight, .navigationButtonRightSignout{
    flex:none;
    width:71px;
    height:14px;
    justify-content:space-between;
    padding:10px;
}
.navigationButtonRightSignout{
    display:none;
}
.navigationButtonRightText, .navigationButtonRightSignoutText{
    width:71px;
    height:14px;
    font-family:"Noto Sans TC", sans-serif;
    font-weight:500;
    font-size:16px;
    line-height:13.3px;
    color:#666666;
    cursor:pointer;
}
.unbooked, .booked{
    display:none;
}
.unbooked.active{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    margin:0 auto;
}
.booked.active{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    margin:0 auto;
}
.headlineUnbooked, .headline{
    flex:none;
    display:flex;
    justify-content:left;
    align-items:center;
    box-sizing:border-box;
    width:1000px;
    height:27px;
    margin-top:40px;
}
.headlineUnbooked{
    padding-left:10px;
    padding-right:10px;
}
.headlineUnbookedText, .headlineText{
    flex:none;
    width:100%;
    height:16px;
    margin-top:6px;
    margin-bottom:5px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:19px;
    font-weight:700;
    line-height:16px;
    color:#666666;
}
.content{
    flex:none;
    display:flex;
    justify-content:left;
    align-items:center;
    box-sizing:border-box;
    width:1000px;
    height:24px;
    margin-top:30px;
    margin-bottom:40px;
    padding-left:10px;
    padding-right:10px;
}
.contentText{
    flex:none;
    width:100%;
    height:24px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:16px;
    font-weight:400;
    /* line-height:13.3px; */
    /* text-align:left; */
    color:#666666;
}
section{
    position:relative;
    flex:none;
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
    width:980px;
    height:200px;
    margin-top:30px;
}
.picture{
    flex:none;
    box-sizing:border-box;
    width:250px;
    height:200px;
    background-size:cover;
    background-position:center;
}
.info{
    flex:1 1 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    box-sizing:border-box;
    height:170px;
    margin-left:30px;
    margin-bottom:30px;
}
.infoTitle, .infoDate, .infoTime, .infoPrice, .infoAddress{
    flex:1 0 auto;
    display:flex;
    justify-content:left;
    align-items:center;
    box-sizing:border-box;
    /* max-width:100%; */
    height:24px;
    margin-top:10px;
    margin-bottom:0px;
}
.infoTitle{
    margin-top:0px;
    margin-bottom:10px;
}
.infoTitleText{
    flex:none;
    width:auto;
    height:14px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:13.3px;
    /* text-align:left; */
    color:#448899;
}
.infoDateTitle, .infoTimeTitle, .infoPriceTitle, .infoAddressTitle{
    flex:none;
    width:48px;
    height:14px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:13.3px;
    /* text-align:left; */
    color:#666666;
}
.infoDateText, .infoTimeText, .infoPriceText, .infoAddressText{
    flex:none;
    width:auto;
    height:14px;
    margin-left:5px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:13.3px;
    color:#666666;
}
.deleteButton{
    position:absolute;
    top:0px;
    right:0px;
    width:30px;
    height:30px;
    cursor:pointer;
}
.separator{
    flex:none;
    width:1200px;
    margin-top:40px;
    border:1px solid #E8E8E8;
}
.contact, .payment{
    flex:none;
    display:flex;
    flex-direction:column;
    justify-content:center;
    box-sizing:border-box;
    width:980px;
    height:auto;
    margin-top:40px;
}
.contactTitle, .paymentTitle{
    flex:1 0 auto;
    display:flex;
    justify-content:left;
    align-items:center;
    box-sizing:border-box;
    height:24px;
    margin-bottom:20px;
}
.contactTitleText, .paymentTitleText{
    flex:none;
    width:auto;
    height:16px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:19px;
    font-weight:700;
    line-height:16px;
    color:#666666;
}
.name, .email, .phone, .cardNumberBox, .cardExpirationDateBox, .cardCCVBox{
    flex:1 0 auto;
    display:flex;
    justify-content:left;
    align-items:center;
    box-sizing:border-box;
    height:38px;
    margin-bottom:15px;
}
.verify{
    margin-bottom:0px;
}
.nameTitle, .emailTitle, .phoneTitle, .cardNumberTitle, .cardExpirationDateTitle, .cardCCVTitle{
    flex:none;
    width:81px;
    height:24px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:16px;
    font-weight:400;
    color:#666666;
}
.nameInputBox, .emailInputBox, .phoneInputBox, #cardNumber, #cardExpirationDate, #cardCCV{
    flex:none;
    box-sizing:border-box;
    width:200px;
    height:38px;
    padding:10px;
    border-radius:5px;
    background-color:#FFFFFF;
    border:1px solid #E8E8E8;
}
.nameInput, .emailInput, .phoneInput{
    width:180px;
    height:18px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:16px;
    font-weight:500;
    line-height:13.3px;
    color:#000000;
}
.errorMessage, .successMessage{
    padding:10px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:16px;
    font-weight:500;
    line-height:13.3px;
}
.errorMessage{
    color:red;
}
.successMessage{
    color:green;
}
.contactNote{
    flex:1 0 auto;
    display:flex;
    justify-content:left;
    align-items:center;
    box-sizing:border-box;
    height:24px;
}
.contactNoteText{
    flex:none;
    width:auto;
    height:14px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:13.3px;
    /* text-align:left; */
    color:#666666;
}
.confirm{
    flex:none;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
    box-sizing:border-box;
    width:980px;
    height:auto;
    margin-top:40px;
    margin-bottom:40px;
}
.totalPrice{
    flex:none;
    display:flex;
    justify-content:right;
    align-items:center;
    box-sizing:border-box;
    width:174px;
    height:20px;
    margin-bottom:22px;
}
.totalPriceText{
    flex:none;
    width:auto;
    height:14px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:13.3px;
    /* text-align:left; */
    color:#666666;
}
.button{
    flex:none;
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
    width:173px;
    height:36px;
    margin-bottom:22px;
    padding:10px;
    border-radius:5px;
    background-color:#448899;
    cursor:pointer;
}
.buttonText{
    flex:none;
    width:auto;
    height:16px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:19px;
    font-weight:400;
    line-height:16px;
    /* text-align:left; */
    color:#FFFFFF;
}
.footerBoxunbooked, .footerBoxbooked{
    display:none;
}
.footerBoxunbooked.active{
    display:flex;
    justify-content:center;
    margin:0 auto;
    width:100%;
    height:100vh;
    background-color:#757575;
}
.footerBoxbooked.active{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    width:100%;
    height:104px;
    background-color:#757575;
}
.footerDivunbooked, .footerDivbooked{
    display:none;
}
.footerDivunbooked.active{
    flex:none;
    display:flex;
    justify-content:center;
    align-items:center;
    height:24px;
    margin-top:40px;
}
.footerDivbooked.active{
    flex:none;
    display:flex;
    justify-content:center;
    align-items:center;
    height:24px;
}
.footerText{
    flex:none;
    height:14px;
    text-align:center;
    font-family:"Noto Sans TC", sans-serif;
    font-weight:700;
    font-size:16px;
    line-height:13.3px;
    color:#FFFFFF;
}
.overlay{
    position:fixed;
    top:0;
    left:0;
    display:none;
    z-index:2;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:25%;
}
@media(max-width:1220px){
    .navigationDiv{
        width:100%;
    }
    .navigationText{
        margin-left:10px;
    }
    .separator{
        width:96%;
    }
}
@media(max-width:1020px){
    .headlineUnbooked, .headline, .content, section, .contact, .payment, .confirm{
        width:95%;
    }
}
@media(max-width:730px){
    .infoTitle{
        height:auto;
    }
    .infoTitleText{
        max-width:100%;
        height:auto;
        line-height:normal;
    }
    .deleteButton{
        top:auto;
        bottom:0px;
    }
}
@media(max-width:640px){
    .contactNote{
        height:auto;
    }
    .contactNoteText{
        max-width:100%;
        height:auto;
        line-height:normal;
    }
}
@media(max-width:590px){
    section{
        flex-direction:column;
        height:auto;
        padding-bottom:30px;
    }
    .picture{
        width:100%;
    }
    .info{
        width:100%;
        margin-top:30px;
        margin-left:0px;
        margin-bottom:0px;
    }
}